body {
    box-sizing: border-box;
    margin: 0px
}

*, *::after, *::before {
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}
header {
    width: 100%;
    height: 76px;
    background-color: #ffff;
    border-bottom: 1px solid #f8E0FB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 70px;
}

header img {
    width: 151px;
    height: 40px;
    margin-right: 32px;
   /* margin: 18px auto; */
}

.menu__wrapper {
    display: flex;
}
.menu__wrapper a{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
    display: flex;
    margin-right: 32px;
    white-space: nowrap;
    opacity: 0.5;
}

/* section__sellNFt */


.section__sellNft {
    display: flex;
    flex-flow: column;
    position: relative;
    max-width: 1440px;
    margin: 0 auto;

}

.section__sellNFt h1 {
    font-family: 'Syne';
    text-align: center;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color: #000000;
    text-shadow: -5px 5px 0px #FFFFFF;
    padding-top: 117px;
    margin: 0 auto;

}

.section__sellNFt p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #532C59;
    padding-top: 32px;
    margin-bottom:32px;
}

.section__sellNft button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 114px;
    padding: 16px 20px;
    background: #532C59;
    border-radius: 15px;
    margin: 0 auto;
    color: #FFFFFF;
    font-family: 'Syne';
    font-weight: 700;
    font-size: 16px;
    line-height:20px;
    white-space: nowrap;
    cursor: pointer;
    border: none;
    outline: none;

}